@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--b3)) hsl(var(--b2));
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: hsl(var(--b2));
}

*::-webkit-scrollbar-thumb {
  background-color: hsl(var(--b3));
  border-radius: 20px;
  /* border: 3px solid orange; */
}

@media screen and (max-width: 768px) {
  * {
    scrollbar-width: initial;
  }

  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: auto;
  }
}

html,
body {
  overflow-x: hidden;
}
